.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-items{
  width: 150px;
  padding: 20px;
  margin-bottom: 10px;
}

.first-one,
.second-one,
.third-one{
  border: 1px solid #f00;
}

.first-one{
  height: 120px;
}

.second-one{
  height: 100px;
}

.third-one{
  height: 40px;
}

.last-one{
  height: 200px;
  border: 1px solid blue;
}

@media (max-width: 640px){
  .flex-container{
    align-content: flex-start;
  }

  .last-one{
    order: -1;
  }
}
